.App {
  background-image: radial-gradient(circle at 29% 55%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 4%,transparent 4%, transparent 44%,transparent 44%, transparent 100%),radial-gradient(circle at 85% 89%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 52%,transparent 52%, transparent 100%),radial-gradient(circle at 6% 90%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 53%,transparent 53%, transparent 64%,transparent 64%, transparent 100%),radial-gradient(circle at 35% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 6%,transparent 6%, transparent 98%,transparent 98%, transparent 100%),radial-gradient(circle at 56% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 16%,transparent 16%, transparent 23%,transparent 23%, transparent 100%),radial-gradient(circle at 42% 0%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 3%,transparent 3%, transparent 26%,transparent 26%, transparent 100%),radial-gradient(circle at 29% 28%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 75%,transparent 75%, transparent 100%),radial-gradient(circle at 77% 21%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 35%,transparent 35%, transparent 55%,transparent 55%, transparent 100%),radial-gradient(circle at 65% 91%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 46%,transparent 46%, transparent 76%,transparent 76%, transparent 100%),linear-gradient(45deg, rgb(83, 91, 235),rgb(76, 11, 174));
  height: 100vh;
  min-height: 650px;
  min-width: 1350px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans';
}


.login {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 50vh; */
  /* width: 80vh; */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.login .textfield{
  margin: 10px;
}

.login h1{
  font-size: 40px;
  color: #212121;
}

#cards {
  min-width: 820px;
}

#board {
  display: flex;
  align-items: center;
  justify-content: center;
  clear: both;
  /* width:100%; */
  min-height: 220px;
}

#playerCards {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  clear: both;
  /* width:100%; */
  min-height: 220px;
}

.throw {
  height: 160px;
  min-width: 120px;
  color: white;
  background-color: white;
  border-radius: 10px;
  border: 5px solid #282828;
}

.players {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  /* background-color: white; */
  /* position: absolute; */

}

.card {
  box-sizing: border-box;  
  width: 100px;
  height: 140px;
  margin:10px;
  float: left;  
  background-color: white;
  /* background-image: url('https://i.imgur.com/yKggR5N.png'); */
  background-image: url('./components/newbackground.png');
  /* background-size: cover; */
  background-position-x: 0px;
  background-position-y: center;
  background-repeat: none;
  background-position: middle center;  
  border: 1px #555555 solid;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px 0px #000000; 
  box-shadow: 2px 2px 3px 0px #000000; 
}

HR {
  margin-top:12px;
  display: block;
  width:100%;
}

BUTTON {
  cursor: pointer;
  width:200px;
  height:40px;
  text-align:center;
  margin:20px;
  border-radius: 5px;
  
}

.gameclass{
  display: flex;
  align-items: center;
  justify-content: center;
}

.updates {
  height: 400px;
  width: 300px;
  background-color: white;
  margin: 20px;
  /* overflow: auto; */
  border-radius: 20px;
  border: 10px solid white;
  /* box-shadow: 0 0 0 10px hsl(236, 69%, 28%) */
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

}

.updates h2{
  text-align: center;
  font-size: 30px;
  margin: 10px;
}

ul {
  list-style-type: square;
}

.list {
  height: 320px;
  overflow: auto;
}

.abutton {
  margin: 5px;
  padding: 20px;
}

.profilecircle {
  border: 5px solid #282828;
  background-color: #282a36;
  color: white;
  border-radius: 50%;
  padding: 20px;
  /* margin: 20px; */
  font-size: 50px;
  font-weight: 800;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0px 0px 20px 5px green; */
}

.currentturn {
  box-shadow: 0px 0px 20px 5 green;
  border: 5px solid green;

}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  margin: 10px;
}

.actions {
  display: flex;
}

.flex-centered-column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rules{
  background-color: white;
  padding: 20px;
  width: 500px;
  /* overflow: auto; */
  height: 500px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.rules div{
  overflow: auto;
  padding: 10px;
  /* font-family: 'Open Sans'; */
  color: #212121;
  font-weight: 600;
}

.rules h1{
  margin: 0;
  font-size: 45px;
}

.profilecirclediv{
  margin-left: 20px;
  margin-right: 20px;
}

.profilecirclediv h3{
  margin: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}